DISCORD_TOKEN=
# PUT THERE THE MAIN TEXT CHANNEL ID, WHAT WILL BE LISTENED FOR NEW IMAGES
DISCORD_MAIN_CHANNEL_ID=

#freeimage.host is used for image hosting
FREEIMAGE_KEY=

#DB PART

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
