<section class="pics" >
  <div class="container d-flex h-100 align-items-center">
    <div class="row" id="list"></div>
  </div>
</section>

<div class="modal fade" id="imgModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  let page = 1
  const list = document.getElementById('list')

  const renderPics = (pics) => pics.forEach(src => {
    const img = document.createElement('img')
    img.src = src
    img.className = "pic"
    img.setAttribute('data-toggle', 'modal')
    img.setAttribute('data-target', '#imgModal')

    const div = document.createElement('div');
    ['col-sm-3', 'pb-2'].forEach(c => div.classList.add(c))
    div.append(img)

    list.append(div)
  })

  const getPics = async () => {
    const request = await fetch(`/api/pics?page=${page}`)
    const { pics } = await request.json()

    renderPics(pics)
  }

  document.addEventListener('DOMContentLoaded', getPics())

  let loading = false
  window.addEventListener('scroll', async () => {
    const { scrollTop, scrollHeight, clientHeight } = document.documentElement

    if (clientHeight + scrollTop >= scrollHeight - 5 && !loading) {
      page++
      loading = true
      await getPics()
      loading = false
    }
  })

  $('#imgModal').on('show.bs.modal', (event) => {
    const img = $.clone($(event.relatedTarget)[0])

    $('.modal-body')
      .empty()
      .append(img)
  })
</script>
